<div class="relative cart">
    <div class="flex items-center justify-between">
      <p
    class="count-products rounded-full h-6 w-6 text-center text-white bg-red-700"
  >{{data.length}}</p>
   <p>Сумма заказа:
    <span class="total-price">{{totalPrice}} ₽</span></p>
    </div>
  <div>
  </div>
    {{#each data}}
      <div class="flex flex-col items-center gap-3 relative mt-7" data-id="{{this.id}}">
        <div class="font-bold" data-id="{{this.id}}">{{this.title}}</div>
        <img class="w-20 h20" src="{{this.img}}" alt="" />
        <strong>{{this.price}} ₽</strong>
        <div class="flex items-center gap-5">
          <span
            class="h-5 w-5 rounded-lg bg-slate-100 text-center cursor-pointer minus"
          >-</span>
          <strong class="qty">{{this.qty}}</strong>
          <span
            class="h-5 w-5 rounded-lg bg-slate-100 text-center cursor-pointer plus"
          >+</span>
        </div>
        <div
          class="absolute top-0 right-0 cursor-pointer bg-orange-200 p-1 rounded-full"
        ><span class="delete-btn">&times;</span></div>
      </div>
    {{/each}}
  </div>
</div>