<label>
  <p>{{label}}</p>
  <input
    label="{{label}}"
    name="{{name}}"
    type="{{type}}"
    placeholder="{{placeholder}}"
    class="block w-full border-2 border-yellow-200 rounded {{className}}"
  />
</label>