<div class="form-item">
  {{#if label}}
    <p class="${(props.required) ? '_required' : ''}">{{label}}</p>
  {{/if}}
  {{#if error}}
    <p class="text-red-500" id="error-message">{{error}}</p>
  {{/if}}
  <input
    label="{{label}}"
    type="{{type}}"
    name="{{name}}"
    placeholder="{{placeholder}}"
    class="block w-full border-2 border-yellow-200 rounded {{className}}"
    value="{{value}}"
  />
</div>