<div class="container mx-auto px-4">
  <ui-loader loading="{{isLoading}}" class-name="z-10 bg-white/70"></ui-loader>
  <div>
    <ui-menu></ui-menu>
  </div>
  <main class="mt-4 animate-fade-left animate-duration-1000">
    <div class="flex gap-10">
      <div
        class="flex items-center flex-col rounded-lg border border-gray-400 p-2 w-60"
      >
        <h1 class="uppercase font-semibold text-center">Текущий профиль</h1>
        <div class="flex flex-col items-center">
          <a
            href="{{user.email}}"
            class="text-lg font-light mt-2 email text-gray-400"
          >{{user.email}}</a>
          <span>{{user.displayName}}</span>
        </div>
      </div>
      <div class="p-2">
        <h2 class="uppercase font-semibold">Ваш заказ</h2>
        <h3>Товары</h3>
        <div class="order-body mb-4 grid grid-cols-4">
          {{#each cart}}
            <div
              class="flex items-center gap-5 relative mt-3"
              data-id="{{this.id}}"
            >
              <div><img
                  class="w-[100px] h-[100px]"
                  src="{{this.img}}"
                  alt="{{this.img}}"
                /></div>
              <div class="flex flex-col justify-center items-center gap-3">
                <div
                  class="font-bold"
                  data-id="{{this.id}}"
                >{{this.title}}</div>
                <strong>{{this.price}} ₽</strong>
                <div class="flex items-center gap-5">
                  <strong class="qty">{{this.qty}}</strong>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
        <div>
          <ui-button
            class="order"
            caption="Заказать"
            class-name="text-white"
          ></ui-button>
          <ui-button
            class="clear mr-3"
            caption="Очистить корзину"
            class-name="text-white"
          ></ui-button>
        </div>
      </div>
    </div>
  </main>
  <ui-footer></ui-footer>
</div>