<div class="container mx-auto px-4">
  <ui-loader loading="{{isLoading}}" class-name="z-10 bg-white/70"></ui-loader>
  <div>
    <ui-menu></ui-menu>
  </div>
  <div class="mt-4 animate-fade-left animate-duration-1000">
    <div class="flex justify-between">
      <div class="flex items-center flex-col">
        <h1 class="uppercase font-semibold text-center">Текущий профиль</h1>
        <div class="flex flex-col items-center">
          <a
            href="{{user.email}}"
            class="text-lg font-light mt-2 email text-gray-400"
          >{{user.email}}</a>
          <span>{{user.displayName}}</span>
          <span>{{user.phoneNumber}}</span>
        </div>
      </div>
      <div class="rounded-lg border border-gray-400 p-2 w-full">
        <h2 class="uppercase font-semibold">Ваш заказ</h2>
        <h3>Товары</h3>
        <div class="order-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus, eaque!
        </div>
        <ui-button
          class="order"
          caption="Заказать"
          class-name="text-white"
        ></ui-button>
      </div>
    </div>
  </div>
  <ui-footer></ui-footer>
</div>