<div class="container mx-auto px-4">
  <main>
    <ui-loader
      loading="{{isLoading}}"
      class-name="z-10 bg-white/70"
    ></ui-loader>
    <div>
      <ui-menu></ui-menu>
    </div>
    <div class="animate-fade-left animate-duration-1000">
      <div class="mt-6">
        <swiper-container
          class="mt-4"
          navigation="true"
          keyboard="true"
          mousewheel="true"
          css-mode="true"
          space-between="10"
          slides-per-view="2"
          loop="'true"
          autoplay-delay="3000"
          autoplay-disable-on-interaction="false"
        >
          <swiper-slide><img
              class="slider-img"
              src="/pizza1.jpg"
              alt=""
            /></swiper-slide>
          <swiper-slide><img
              class="slider-img"
              src="/1.jpg"
              alt=""
            /></swiper-slide>
          <swiper-slide><img
              class="slider-img"
              src="/images.jpg"
              alt=""
            /></swiper-slide>
          <swiper-slide><img
              class="slider-img"
              src="/pizzaman.jpg"
              alt=""
            /></swiper-slide>
        </swiper-container>
      </div>
      <div class="mt-8">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-5">
            <div class="flex justify-between items-center gap-6">
              <div
                class="flex flex-col items-center cursor-pointer hover:scale-110 ease-in duration-300 pizza-block"
              >
                <img src="/pizzabtn.svg" alt="pizza" />
                <span>Пицца</span>
              </div>
              <div
                class="flex flex-col items-center cursor-pointer hover:scale-110 ease-in duration-300 drinks"
              >
                <img
                  src="/drinks.svg"
                  alt="drinks"
                  style="width: 74px; height: 54px;"
                />
                <span>Напитки</span>
              </div>
              <div
                class="flex flex-col items-center cursor-pointer hover:scale-110 ease-in duration-300 desserts"
              >
                <img
                  src="/dessert.svg"
                  alt="dessert"
                  style="width: 74px; height: 54px;"
                />
                <span>Десерты</span>
              </div>
              <div
                class="flex flex-col items-center cursor-pointer hover:scale-110 ease-in duration-300 snacks"
              >
                <img
                  src="/snack.svg"
                  alt="snack"
                  style="width: 74px; height: 54px;"
                />
                <span>Закуски</span>
              </div>
            </div>
          </div>
          <ui-input
            placeholder="Искать что-нибудь вкусное"
            class-name="p-3 w-full rounded-full focus:outline-none focus:border-orange-500 focus:ring-1 focus:ring-orange-500"
            class="search-input w-96"
          ></ui-input>
        </div>
        <div class="products grid grid-cols-4 gap-8 mt-8">
          {{#each products}}
            <div
              class="border-2 border-gray-300 rounded-lg p-3 items hover:scale-110 ease-in duration-300
                {{this.className}}"
            >
              <img src="{{this.img}}" alt="pizza" />
              <h3
                class="text-gray-500 font-bold text-xl title"
              >{{this.title}}</h3>
              <p class="text-sm text-gray-400 mt-3">{{this.description}}</p>
              <div class="flex items-center justify-between">
                <span class="text-xl font-semibold">от {{this.price}} ₽</span>
                <ui-button
                  caption="Добавить в корзину"
                  class-name="bg-yellow-400 text-lg text-white mt-3 hover:text-gray-600"
                ></ui-button>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </main>
  <ui-footer></ui-footer>
</div>