<div class="container mx-auto px-4 relative">
  <main class="relative">
    <ui-loader
      loading="{{isLoading}}"
      class-name="z-10 bg-white/70"
    ></ui-loader>
    <div>
      <ui-menu class="relative"></ui-menu>
    </div>
    <section class="animate-fade-left animate-duration-1000">
      <div class="mt-6">
        <swiper-container
          class="mt-4"
          navigation="true"
          keyboard="true"
          mousewheel="true"
          css-mode="true"
          space-between="10"
          slides-per-view="2"
          loop="'true"
          autoplay-delay="3000"
          autoplay-disable-on-interaction="false"
        >
          <swiper-slide><img
              class="slider-img"
              src="/pizza1.jpg"
              alt=""
            /></swiper-slide>
          <swiper-slide><img
              class="slider-img"
              src="/1.jpg"
              alt=""
            /></swiper-slide>
          <swiper-slide><img
              class="slider-img"
              src="/images.jpg"
              alt=""
            /></swiper-slide>
          <swiper-slide><img
              class="slider-img"
              src="/pizzaman.jpg"
              alt=""
            /></swiper-slide>
        </swiper-container>
      </div>
      <section>
        <div
          class="timer flex items-center gap-5 text-center justify-between mt-4 bg-workspace bg-cover p-28"
        >
          <div
            class="flex items-center gap-5 text-center mt-4 border-2 border-orange-400 rounded-lg p-4 text-white"
          >
            <div class="sub_timer">
              <h1 id="day" class="text-8xl">00</h1>
              <p class="digit_name">Дней</p>
            </div>
            <div class="sub_timer">
              <h1 id="hour" class="text-6xl">00</h1>
              <p class="digit_name">Часов</p>
            </div>
            <div class="sub_timer">
              <h1 id="min" class="text-5xl">00</h1>
              <p class="digit_name">Минуты</p>
            </div>
            <div class="sub_timer">
              <h1 id="sec" class="text-5xl">00</h1>
              <p class="digit_name">Секунды</p>
            </div>
          </div>
          <div>
            <h1 class="text-4xl text-white">
              Акция «3 пиццы на традиционном тесте за 1249 р»
            </h1>
            <p class="text-orange-900 mt-5">В рамках акции вы можете выбрать
              любые 3 пиццы на традиционном тесте. Одна пицца может быть выбрана
              несколько раз. На данное предложение не распространяется действие
              купона «Графский фунт». Данная акция может быть продублирована в
              одном заказе бесконечное количество раз. Чтобы воспользоваться
              предложением, добавьте в корзину выбранные пиццы и при оформлении
              заказа нажмите на подсказку с названием акции, цена будет
              изменена.</p>
          </div>
        </div>

      </section>
      <div class="mt-8">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-5">
            <div class="flex justify-between items-center gap-6">
              <div
                class="flex flex-col items-center cursor-pointer hover:scale-110 ease-in duration-300 pizza-block"
              >
                <img src="/pizzabtn.svg" alt="pizza" />
                <span>Пицца</span>
              </div>
              <div
                class="flex flex-col items-center cursor-pointer hover:scale-110 ease-in duration-300 drinks"
              >
                <img
                  src="/drinks.svg"
                  alt="drinks"
                  style="width: 74px; height: 54px;"
                />
                <span>Напитки</span>
              </div>
              <div
                class="flex flex-col items-center cursor-pointer hover:scale-110 ease-in duration-300 desserts"
              >
                <img
                  src="/dessert.svg"
                  alt="dessert"
                  style="width: 74px; height: 54px;"
                />
                <span>Десерты</span>
              </div>
              <div
                class="flex flex-col items-center cursor-pointer hover:scale-110 ease-in duration-300 snacks"
              >
                <img
                  src="/snack.svg"
                  alt="snack"
                  style="width: 74px; height: 54px;"
                />
                <span>Закуски</span>
              </div>
            </div>
          </div>
          <ui-input
            placeholder="Искать что-нибудь вкусное"
            class-name="p-3 w-full rounded-full focus:outline-none focus:border-orange-500 focus:ring-1 focus:ring-orange-500"
            class="search-input w-96"
          ></ui-input>
        </div>

        <div class="products grid grid-cols-4 gap-8 mt-8">
          {{#each products}}
            <div
              class="border-2 border-gray-300 rounded-lg p-3 items hover:scale-110 ease-in duration-300
                {{this.className}}"
            >
              <div
                data-qty="{{this.qty}}"
                data-img="{{this.img}}"
                data-title="{{this.title}}"
              >
                <img src="{{this.img}}" alt="pizza" />
                <h3
                  class="text-gray-500 font-bold text-xl title"
                >{{this.title}}</h3>
                <p class="text-sm text-gray-400 mt-3">{{this.description}}</p>
                <div class="flex items-center justify-between">
                  <span
                    data-price="{{this.price}}"
                    class="text-xl font-semibold"
                  >от {{this.price}} ₽</span>
                  <button
                    data-id="{{this.id}}"
                    class="bg-yellow-400 p-3 text-lg add-to-cart text-white mt-3 hover:text-gray-600"
                  >Добавить в корзину</button>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </section>
  </main>
  <ui-footer></ui-footer>
</div>